<div class="card shadow-sm p-5 mb-3">
    <div class="container-chat">
        <img
            src="https://www.w3schools.com/w3images/bandmember.jpg"
            alt="Avatar"
            style="width:100%;"
        >
        <p>Hello. How are you today?</p>
        <span class="time-right">11:00</span>
    </div>

    <div class="container-chat darker">
        <img
            src="https://www.w3schools.com/w3images/avatar_g2.jpg"
            alt="Avatar"
            class="right"
            style="width:100%;"
        >
        <p>Hey! I'm fine. Thanks for asking!</p>
        <span class="time-left">11:01</span>
    </div>

    <div class="container-chat">
        <img
            src="https://www.w3schools.com/w3images/bandmember.jpg"
            alt="Avatar"
            style="width:100%;"
        >
        <p>Sweet! So, what do you wanna do today?</p>
        <span class="time-right">11:02</span>
    </div>

    <div class="container-chat darker">
        <img
            src="https://www.w3schools.com/w3images/avatar_g2.jpg"
            alt="Avatar"
            class="right"
            style="width:100%;"
        >
        <p>
            Nah, I dunno. Play soccer.. or learn more coding perhaps?
        </p>
        <span class="time-left">11:05</span>
    </div>
    <div class="mt-4">
        <textarea
            class="mb-4 form-control"
            id
            cols="30"
            rows="3"
        ></textarea>
        <button class="btn btn-primary" style="float: right;">Enviar</button>
    </div>

</div>
