<div
    class="container_24 "
    ng-controller="galleryController as gallery"
>
    <form name="form">
        <h3>File Uploader</h3>
        <input
            type="file"
            file-model="file"
            class="form-control"
            name="file"
        >
        <button
            class="btn btn-primary"
            ng-click="gallery.uploadFile(form, file)"
        >
            Upload File
        </button>
    </form>
    <div
        class="gallery"
        id="gallery"
    >
        <div
            class="mb-3 pics animation all 2"
            ng-repeat="value in gallery.galleries"
        >
            <img
                class="img-fluid"
                src="{{ value.url }}"
                alt="Card image cap"
            >
        </div>

    </div>
</div>
