<nav class="navbar-expand-lg navbar navbar-dark bg-dark">
    <a 
        class="navbar-brand"
    >
        Prueba
    </a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
    >
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a
                    class="nav-link"
                    href="#/gallery"
                >
                    GALLERY
                    <span class="sr-only"></span>
                </a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    href="#/task"
                >
                    TASK
                </a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    href="#/chat"
                >
                    CHATS
                </a>
            </li>

        </ul>

    </div>
</nav>
