<div class="container_24 " ng-controller="galleryController as gallery">
		<div class="container_24 ">
			<div class="form-group">
				<div class="checkbox">
					<label>
						<h4 class="text-checkbox"><input type="checkbox" name="accept" class="checkbox" validator="required" no-validation-message="true">
						nooo</h4>
					</label>
				</div>
				<div class="checkbox">
					<label>
						<h4 class="text-checkbox"></h4><input type="checkbox" name="accept" class="checkbox" validator="required" no-validation-message="true">
						sii</h4>
					</label>
				</div>
				<div class="checkbox">
					<label>
						<h4 class="text-checkbox"><input type="checkbox" name="accept" class="checkbox" validator="required" no-validation-message="true">
						+/-</h4>
					</label>
				</div>
			</div>
		</div>
	</div>