<div ng-controller="taskController as tasks">
    <div>
        <input type='text' placeholder='Titulo' ng-model='tasks.task.name' required>
        <textarea placeholder='descripcion' ng-model='tasks.task.motivation' required></textarea>
        <input type='button' ng-click='tasks.addTask(task)' value='add'>
    </div>
    <h2>your task's list</h2>
    <ul>
        <li ng-repeat='task in tasks.tasks'>
            <input type='checkbox' ng-model='task.selected'>
            <label>{{task.name}}</label>
            <span>{{task.motivation}}</span>
        </li>
        <input type='button' ng-click='tasks.removeTask(tasks.tasks)' value='remove'>
    </ul>
</div>